.App {
  text-align: center;
}

.App-logo {
  animation     : App-logo-spin infinite 20s linear;
  height        : 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div.myShow {
  display: block
}

div.myHide {
  display: none
}

/**self start*/

select.placeholder {
  color: #999;
}

select.red {
  color: red;
}

/** over float memu simple start*/
div.cch-overfloat-hide {
  display: none;
}

div.cch-overfloat-show {
  display: block;
  text-align: center;
}

/** over float memu simple start*/

/**self link btn start*/
div.cch-btnLink {
  width : 100px;
  height: auto;
  border: 1px solid gray;
}

a.cch-btnLink,
a.cch-btnLink:hover,
a.cch-btnLink:visited,
a.cch-btnLink:link {
  text-decoration : none;
  color           : black;
  width           : 100%;
  height          : 100%;
  display         : block;
  background-color: rgb(207, 191, 191);
}

a.cch-btnLink:active {
  background-color: rgb(250, 243, 243);
}

/**self link btn end*/

@import './ui/components/LinkBtn/index.css'

/**self end*/